<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
            .btn-group {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
            .btn {
            flex: 1;
            max-width:
            border-radius: 15px;
        }
    }
    </style>
</head>
<body>
<header th:insert="base/header :: header"></header>
<main>
    <div class="container mt-4 p-4 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-10 px-0">
            <p class="lead my-3">Поделитесь вашей историей со всем миром
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
                    <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849m.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1s-.458.158-.678.599"/>
                </svg>
            </p>
            <p class="lead mb-0"><a href="/blog/add" class="btn btn-primary">Написать статью
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
            </a>
            </p><br>
            <p class="lead mb-0"><a href="/blogs" class="btn btn-primary">Читать статьи других авторов
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
            </a>
            </p><br>
        </div>
    </div>
</main>
<div class="container">
    <div class="row mt-1 d-flex flex-column align-items-center">
        <div th:each="el : ${posts}" class="col-md-6 mb-4">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <h1 th:text="${el.title}"></h1>
                <p th:text="${el.text}"></p>
                <p><strong>Автор:</strong> <span th:text="${el.author}"></span></p>
                <p><strong>Тэг:</strong> <span th:text="${el.tag}"></span></p>
                <p><strong>Комментарий от автора:</strong> <span th:text="${el.comment}"></span></p>
                <a th:href="'/comments/user/' + ${el.id}" class="btn btn-primary btn-sm">Все комментарии</a><br>
                <a th:href="'/blog/' + ${el.id}" class="btn btn-primary btn-sm">Опции</a><br>
            </div>
        </div>
    </div>

    <div class="p-3 pb-md-4 mx-auto text-center">
        <h5 class="display-4 text-body-emphasis">Присоединяйтесь к сообществу</h5>
        <p class="fs-5 text-body-secondary">Подписывайтесь на единомышленников!</p>
    </div>

    <div class="row mt-1 d-flex flex-column align-items-center">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-brightness-alt-high-fill" viewBox="0 0 16 16">
                    <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3m8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5m-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4"/>
                </svg>
                <h3>"Факты о природе"</h3>
                <p>Моника Гальяно, доцент кафедры биологии Университета Западной Австралии, провела эксперимент, исследующий поведение мимозы. Обычно это растение скручивает листья в целях самообороны. Гальяно решила показать мимозе, что падение не представляет для неё никакой опасности.</p>
            </div>
        </div>
    </div>

    <div class="row mt-1 d-flex flex-column align-items-center">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-binoculars-fill" viewBox="0 0 16 16">
                    <path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5z"/>
                </svg>
                <h3>"Интересное о животных"</h3>
                <p>Муравьи никогда не спят. Вместо этого они «отдыхают» по восемь минут два раза в день. Отдых королевы муравьёв занимает 90 минут в день. Басенджи — единственная собака, которая не может лаять..</p>
            </div>
        </div>
    </div>

    <div class="row mt-1 d-flex flex-column align-items-center">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10m0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8"/>
                    <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                </svg>
                <h3>"Необъятный космос"</h3>
                <p>Первым человеком, который заглянул в космос с помощью телескопа, был Галилей, почти 400 лет назад.</p>
            </div>
        </div>
    </div>

    <div class="row mt-1 d-flex flex-column align-items-center">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-egg" viewBox="0 0 16 16">
                    <path d="M8 15a5 5 0 0 1-5-5c0-1.956.69-4.286 1.742-6.12.524-.913 1.112-1.658 1.704-2.164C7.044 1.206 7.572 1 8 1s.956.206 1.554.716c.592.506 1.18 1.251 1.704 2.164C12.31 5.714 13 8.044 13 10a5 5 0 0 1-5 5m0 1a6 6 0 0 0 6-6c0-4.314-3-10-6-10S2 5.686 2 10a6 6 0 0 0 6 6"/>
                </svg>
                <h3>"Интересное о кулинарии"</h3>
                <p>Куриные яйца полезны и питательны, любые. Но какие самые полезные? В этой статье разбираемся с преимуществами и недостатками сырых, вареных и жареных яиц...</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-1 d-flex flex-column align-items-center">
    <div class="col-md-6 mb-4">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3 d-flex flex-column align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17s2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276"/>
                <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.8.8 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155s4.037-.084 5.592-.155A1.48 1.48 0 0 0 15 9.611v-.413q0-.148-.03-.294l-.335-1.68a.8.8 0 0 0-.43-.563 1.8 1.8 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3z"/>
            </svg>
            <h3>"Машины и их особенности"</h3>
            <p>Эксперт рассказал об особенностях пневмоподвески некоторых авто....</p>
        </div>
    </div>
</div>
<footer class="py-2 text-center text-body-secondary">
    <div th:insert="base/footer :: footer"></div>
</footer>
</body>
</html>